
.icon-google-sign {
  background-image: url('../../static/images/g-plus-icon.png');
  background-size: contain;
  width: 20px;
  height: 20px;
}
.icon-google-sign:hover {
  background-image: url('../../static/images/g-plus-icon-hovered.png');
}

.social-bar {
  font-size: 2em;
}
.social-bar :hover {
  text-decoration: none;
}

#welcome {
  text-align: center;
}

.profile-pic {
  background-color: black;
  background-image: url('../../static/images/profile.jpg');
  background-size: 11em;
  background-position: left center;
  background-repeat: no-repeat;
  
  height: 11em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.app-icon {
  width: 96px;
  height: 96px;
  margin-right: 1em;
}

footer {
  text-align: center;
}
